.app-container {
  background-color: #9ba9eb;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Roboto';
}

.app-logo {
  width: 150px;
  margin-bottom: 20px;
}

.top-section {
  background-color: #5763a5;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

.form {
  color: #ffffff;
  width: 50%;
}

.input-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 4px;
}

.input-container img {
  width: 20px;
  margin-right: 8px;
}

.input-container input {
  border: none;
  outline: none;
  flex-grow: 1;
}

.add-btn {
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.manager-img {
  width: 40%;
}

.bottom-section {
  background-color: #5763a5;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count {
  background-color: #ffffff;
  color: #000;
  padding: 4px 10px;
  border-radius: 10px;
}

.search-box {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
}

.search-box img {
  width: 20px;
  margin-right: 5px;
}

.search-box input {
  border: none;
  outline: none;
}

.show-passwords {
  margin-top: 10px;
}

.passwords-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.password-item {
  background-color: #7683cb;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.password-item img {
  width: 20px;
}

.no-passwords {
  text-align: center;
}

.no-passwords img {
  width: 200px;
}
